/*chess*/
:root {
  --text-color: #ffffff;
  --text-color-main: #C980CD;
  --body-color-main: #373232;
  --card-color-main: #565353;
  --card-color-base: #403c3c;
}

.sci-section-top__inner {
  background: #403C3C url(../images/back-top-chess.png) center no-repeat !important;
  background-size: cover !important;
  border-radius: 20px !important;
}

.btn {
  border: 1px solid transparent !important;
  background-color: transparent !important;
  border-radius: 0px !important;
  padding: 11px 34px !important;
  color: #FFD71E !important;
  -webkit-box-shadow: 0px 2px 4px 0px #3232470F !important;
          box-shadow: 0px 2px 4px 0px #3232470F !important;
  font-size: 20px !important;
  font-weight: 700 !important;
  position: relative !important;
}
.btn:hover, .btn:active {
  background: linear-gradient(90.21deg, rgba(251, 228, 29, 0) 0.16%, rgba(251, 228, 29, 0.3) 48.95%, rgba(251, 228, 29, 0) 99.82%);
}

.btn::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  top: 0;
  background: linear-gradient(269.91deg, rgba(255, 215, 30, 0) -12.7%, #ffd71e 41.48%, rgba(255, 215, 30, 0) 106.55%);
}

.btn::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  background: linear-gradient(269.91deg, rgba(255, 215, 30, 0) -12.7%, #ffd71e 41.48%, rgba(255, 215, 30, 0) 106.55%);
}

.sci-section-info__col:last-child {
  background: url(../images/bg-bag-chess.png) center no-repeat !important;
  background-size: cover !important;
}

@media screen and (max-width: 450px) {
  .sci-section-info__col:last-child {
    background: url(../images/bg-bag-chess-mb.png) center no-repeat !important;
    background-size: cover !important;
    margin-top: 30px !important;
  }
}
.sci-section-areas__row:first-child .sci-area-card:nth-child(2) {
  background: url(../images/bg-chess.png) center no-repeat !important;
  background-size: cover !important;
}

.sci-area-card {
  border-radius: 20px !important;
  padding: 0 !important;
}

.sci-area-card__inner {
  padding: 40px;
  height: 100%;
}

.sci-area-card--chess img {
  z-index: 10;
}

.with-border {
  border: 1px solid #FFA41D;
  border-radius: 20px;
}

.with-border-top,
.with-border-bottom {
  position: relative;
  width: 100%;
}

.with-border-top::before {
  position: absolute;
  left: 10px;
  top: 10px;
  content: '';
  width: 4px;
  height: 4px;
  background-color: #cc8e35;
  border: 1px solid #cc8e35;
  border-radius: 50%;
  margin: 6px;
}

.with-border-top::after {
  position: absolute;
  right: 10px;
  top: 10px;
  content: '';
  width: 4px;
  height: 4px;
  background-color: #cc8e35;
  border: 1px solid #cc8e35;
  border-radius: 50%;
  margin: 6px;
}

.with-border-bottom::before {
  position: absolute;
  left: 10px;
  bottom: 10px;
  content: '';
  width: 4px;
  height: 4px;
  background-color: #cc8e35;
  border: 1px solid #cc8e35;
  border-radius: 50%;
  margin: 6px;
}

.with-border-bottom::after {
  position: absolute;
  right: 10px;
  bottom: 10px;
  content: '';
  width: 4px;
  height: 4px;
  background-color: #cc8e35;
  border: 1px solid #cc8e35;
  border-radius: 50%;
  margin: 6px;
}

.sci-area-card {
  border-radius: 20px !important;
}

.theme-colored,
.theme-base {
  height: 100%;
  border-radius: 20px !important;
}

.video-wrap:before {
  content: "";
  background: #ffffff url(../images/icons/play-chess.svg) center no-repeat !important;
  background-size: 101% !important;
  background-position: 0 !important;
  top: 50% !important;
}

.video-wrap:hover::before {
  background: #ffffff url(../images/icons/play-chess-hover.svg) center no-repeat !important;
  background-size: 100% !important;
  background-position: 0 !important;
}

/*chess end*/
/*english*/
/* :root {
  --text-color: #494953;
  --text-color-main: #FF5A75;
  --body-color-main: #ffffff;
  --card-color-main: #DDE9F8;
  --card-color-base: #F3F3F3;
}

.timer__item {
  background: #6398DA !important;
}

.timer__text,
.timer__item:last-child::after,
.timer__item:nth-last-child(2)::after {
  color: #6398DA !important;
}

.sci-section-info__col:last-child {
  background: url(../images/bg-english.png) center no-repeat !important;
  background-size: cover !important;
}

@media screen and (max-width: 450px) {
  .sci-section-info__col:last-child {
    background: url(../images/bg-bag-english-mb.png) center no-repeat !important;
    background-size: cover !important;
    margin-top: 30px !important;
  }
} */
/* geo*/
/* :root {
  --text-color: #494953;
  --text-color-main: #6398DA;
  --body-color-main: #eef7ff;
  --card-color-main: #DDE9F8;
  --card-color-base: #ffffff;
}

.sci-section-info__col:last-child {
  background: url(../images/bg-geo.png) center no-repeat !important;
  background-size: cover !important;
}

@media screen and (max-width: 450px) {
  .sci-section-info__col:last-child {
    background: url(../images/bg-bag-geo-mb.png) center no-repeat !important;
    background-size: cover !important;
    margin-top: 30px !important;
  }
} */
/* ment*/
/* :root {
  --text-color: #494953;
  --text-color-main: #6398DA;
  --body-color-main: #28bac6;
  --card-color-main: #DDE9F8;
  --card-color-base: #F8F8F8;
}

.profile-item--star,
.profile-item--coin,
.profile-item--paw,
.profile-item--balance {
  position: relative;
}
.profile-item--star::before,
.profile-item--coin::before,
.profile-item--paw::before,
.profile-item--balance::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
} */

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

html {
  width: 100%;
}

body {
  width: 100%;
  margin: 0;
  background-color: var(--body-color-main);
  overflow-x: hidden;
  font-family: "Lato Regular";
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
  color: var(--text-color);
}

body.modal-opened {
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2 {
  margin: 0;
}

a {
  text-decoration: none;
  outline: none;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3 {
  margin: 0;
}

/* common */
.theme-base {
  border-radius: 50px;
  padding: 50px;
  background-color: var(--card-color-base);
}

.theme-colored {
  border-radius: 50px;
  padding: 50px;
  background-color: var(--card-color-main);
}

.col-big {
  width: 60%;
}

.col-sm {
  width: 40%;
}

.col-50 {
  width: 50%;
}

.section {
  margin-top: 24px;
}

.container {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
}

.title-wrap {
  margin-bottom: 20px;
}

.title {
  font-family: "Lato-Black";
  font-size: 36px;
  font-weight: 900;
  line-height: 46.8px;
  text-align: center;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.al-center {
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.jc-sb {
  justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.jc-center {
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

.jc-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.w-100 {
  width: 100%;
}

.btn-wrap {
  padding: 40px 0 70px;
}

.btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid transparent;
  background-color: #76D51F;
  border-radius: 8px;
  padding: 12px 20px;
  font-family: "Lato-Bold";
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px 0px #32324714;
          box-shadow: 0px 4px 4px 0px #32324714;
}
.btn:hover {
  background-color: #80DF29;
}
.btn:active {
  background-color: #60BF09;
}
.btn:disabled {
  background-color: #C7EDA4;
}

.btn-orange {
  background-color: #FFA800;
}
.btn-orange:hover {
  background-color: #FFC61E;
}
.btn-orange:active {
  background-color: #F5890A;
}
.btn-orange:disabled {
  background-color: #FFD88D;
}

/* header */
header {
  background-color: inherit;
  position: relative;
  z-index: 10;
  width: 100%;
  margin-top: 24px;
}

.header-wrap {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-img {
  width: 177px;
}

.profile-wrap {
  background-color: #ffffff;
  padding: 10px 16px;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile-item {
  font-family: "Lato-Bold";
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  position: relative;
}
.profile-item:not(:last-child) {
  margin-right: 16px;
}
.profile-item a {
  color: inherit;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.profile-item--star,
.profile-item--coin,
.profile-item--paw,
.profile-item--balance {
  padding-left: 44px;
}

.profile-item--star,
.profile-item--coin {
  color: #ffc800;
}

.profile-item--star::before {
  background: url(../images/icons/star.svg) center no-repeat;
}

.profile-item--coin::before {
  background: url(../images/icons/coin.svg) center no-repeat;
}

.profile-item--paw {
  color: #ffc832;
}
.profile-item--paw::before {
  background: url(../images/icons/paw.svg) center no-repeat;
}

.profile-item--balance {
  color: #2dbecd;
  margin-right: 8px;
}
.profile-item--balance::before {
  background: url(../images/icons/byn.svg) center no-repeat;
}

.profile-item--camp,
.profile-item--promotion {
  color: #ffffff;
  padding: 8px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.profile-item--camp::before,
.profile-item--promotion::before {
  position: relative;
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  margin-right: 4px;
}

.profile-item--camp {
  background: linear-gradient(92.64deg, #ff4858 4.56%, #ffb958 92.26%);
  border-radius: 100px;
  margin-right: 8px;
  -webkit-box-shadow: 0px 0px 8px 0px #FF885899;
          box-shadow: 0px 0px 8px 0px #FF885899;
}
.profile-item--camp::before {
  background: url(../images/icons/camp.svg) center no-repeat;
}
.profile-item--camp:hover {
  -webkit-box-shadow: 0px 0px 10px 0px #FF8858;
          box-shadow: 0px 0px 10px 0px #FF8858;
}
.profile-item--camp:active {
  -webkit-box-shadow: 0px 0px 10px 0px #FF8858;
          box-shadow: 0px 0px 10px 0px #FF8858;
}

.profile-item--promotion {
  background: linear-gradient(97.64deg, #6ba6ff 7.92%, #ff718e 90.99%);
  border-radius: 50px;
}
.profile-item--promotion::before {
  background: url(../images/icons/promotion.svg) center no-repeat;
}
.profile-item--promotion:hover {
  -webkit-box-shadow: 0px 0px 10px 0px #C088BE;
          box-shadow: 0px 0px 10px 0px #C088BE;
}
.profile-item--promotion:active {
  -webkit-box-shadow: 0px 0px 10px 0px #C088BE;
          box-shadow: 0px 0px 10px 0px #C088BE;
}

.dropdown {
  position: relative;
  padding: 0 32px 0 16px;
  margin-left: 16px;
  cursor: pointer;
  border-left: 1px solid #efefef;
}

.dropdown:after {
  position: absolute;
  content: "";
  display: inline-block;
  top: 18px;
  right: 0px;
  width: 16px;
  height: 8px;
  background: url(../images/icons/arr-down-black.svg) center no-repeat;
  background-size: 100%;
}

.profile__pic-wrap {
  margin-right: 12px;
  position: relative;
}
.profile__pic-wrap span {
  background-color: #FC4848;
  border-radius: 100%;
  position: absolute;
  width: 22px;
  height: 22px;
  top: -6px;
  right: -6px;
  font-family: "Lato-Black";
  font-size: 12px;
  font-weight: 900;
  line-height: 14.4px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dropdown:hover .dropdown__content {
  opacity: 1;
  visibility: visible;
}

.dropdown__content {
  border-radius: 12px;
  border: 4px solid #5aa2ff;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: #ffffff;
  width: 270px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
  padding: 16px;
}

.btn-exit {
  border: 2px solid #fbfbfd;
  border-radius: 33px;
  -webkit-box-shadow: 0px 2px 2px 0px #3232470f;
          box-shadow: 0px 2px 2px 0px #3232470f;
  padding: 10px 15px;
  font-family: "Lato-Bold";
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  color: #ffffff;
  cursor: pointer;
}
.btn-exit .btn-exit-x {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  top: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  left: 0;
  margin-right: 10px;
}
.btn-exit .btn-exit-x::before, .btn-exit .btn-exit-x::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 3px;
  background: #ffffff;
}
.btn-exit .btn-exit-x::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.btn-exit .btn-exit-x::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.page-content {
  margin-top: 40px;
}

/* top-section */
.sci-section-top__inner {
  background: url(../images/back-top.png) center no-repeat;
  background-size: cover;
  border-radius: 50px;
}

.sci-section-top__text-wrap {
  padding: 64px 50px;
}

.sci-section-top__title {
  font-family: "Lato Regular";
  font-weight: 400;
  font-size: 44px;
  line-height: 52.8px;
}
.sci-section-top__title span {
  font-family: "Lato-Black";
  font-weight: 900;
  color: var(--text-color-main);
}

.sci-section-top__text {
  margin-top: 16px;
  font-size: 24px;
  line-height: 31.2px;
}
.sci-section-top__text span {
  font-family: "Lato-Black";
  font-size: inherit;
  font-weight: 900;
  font-size: inherit;
  background: linear-gradient(101.46deg, #FF4858 34.33%, #FFB958 118.85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sci-section-top__btns-wrap {
  margin-top: 32px;
}

.btns-wrap .btn {
  border: 4px solid #ffffff;
  border-radius: 16px;
}
.btns-wrap .btn:first-child {
  width: 198px;
}
.btns-wrap .btn:not(:first-child) {
  margin-left: 24px;
}

.sci-section-top__pic-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

/*sci-section-drawing*/
.sci-section-drawing__title {
  font-size: 36px;
  line-height: 46.8px;
}
.sci-section-drawing__title span {
  font-family: "Lato-Black";
  font-size: inherit;
  font-weight: 900;
  line-height: inherit;
}
.sci-section-drawing__title span:last-child {
  text-transform: uppercase;
}

.sci-section-drawing__decs {
  margin-top: 16px;
  font-size: 24px;
  line-height: 31.2px;
}

.timer {
  margin-top: 24px;
  max-width: 360px;
}

.timer__text {
  font-family: "Lato-Black";
  font-size: 24px;
  font-weight: 900;
  line-height: 28.8px;
  text-align: left;
  color: var(--text-color-main);
  margin-bottom: 6px;
}

.sci-section-drawing__btns-wrap {
  margin-top: 32px;
}

.timer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.timer__item {
  position: relative;
  width: calc((100% - 40px) / 2);
  background: var(--text-color-main);
  border-radius: 16px;
  color: #ffffff;
  padding: 11px 12px 26px;
  text-align: center;
  font-size: 28px;
  font-family: "Lato-Bold";
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0px;
  text-align: center;
}
.timer__item:not(:last-child) {
  margin-right: 20px;
}
.timer__item::before {
  content: attr(data-title);
  display: block;
  position: absolute;
  left: 50%;
  bottom: 11px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: "Lato-Medium";
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  text-align: center;
}
.timer__item:last-child::after, .timer__item:nth-last-child(2)::after {
  content: ":";
  position: absolute;
  left: -14px;
  top: 14px;
  font-family: "Lato-Bold";
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  text-align: center;
  color: var(--text-color-main);
}

.sci-section-drawing__col:last-child {
  position: relative;
  bottom: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*sci-section-info*/
.sci-section-info__text {
  font-size: 28px;
  line-height: 36.4px;
  max-width: 84%;
}
.sci-section-info__text span {
  font-family: "Lato-Black";
  font-size: inherit;
  font-weight: 900;
  line-height: inherit;
  color: var(--text-color-main);
}

.sci-section-info__areas {
  margin-top: 24px;
}
.sci-section-info__areas .col-50:last-child {
  padding-left: 30px;
}

.sci-areas-list__item {
  font-size: 20px;
  line-height: 26px;
  padding-left: 32px;
  position: relative;
}
.sci-areas-list__item:not(:first-child) {
  margin-top: 6px;
}
.sci-areas-list__item::before {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  background: url(../images/icons/search.svg) center no-repeat;
}

.sci-section-info__col:first-child {
  width: 57%;
}

.sci-section-info__col:last-child {
  padding: 50px;
  width: calc(100% - 24px - 57%);
  background: url(../images/bg-red.png) center no-repeat;
  background-size: cover;
  border-radius: 50px;
  margin-left: 24px;
  position: relative;
}
.sci-section-info__col:last-child .sci-section-info__text {
  color: #ffffff;
}
.sci-section-info__col:last-child .sci-section-info__text span {
  color: #ffffff;
}
.sci-section-info__col:last-child img {
  position: absolute;
  bottom: 3px;
  right: 36px;
  width: 168px;
  height: 263px;
}
.sci-section-info__col:last-child .sci-section-info__pic {
  float: right;
  shape-outside: circle(60%);
  width: 137px;
  height: 273px;
}

/*sci-area-cards*/
.sci-section-areas__row:first-child {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 24px;
}
.sci-section-areas__row:first-child .sci-area-card:nth-child(2) {
  background: url(../images/bg.png) center no-repeat;
  background-size: cover;
}
.sci-section-areas__row:first-child .sci-area-card:nth-child(3) {
  background: var(--card-color-main);
}
.sci-section-areas__row:first-child .sci-area-card:last-child {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}
.sci-section-areas__row:first-child .sci-area-card .sci-area-card__text p:not(:first-child) {
  margin-top: 10px;
}

.sci-area-card {
  background-color: var(--card-color-base);
  border-radius: 50px;
  padding: 40px;
  overflow: hidden;
  position: relative;
}
.sci-area-card .sci-area-card__title {
  font-family: "Lato-Black";
  font-size: 36px;
  font-weight: 900;
  line-height: 46.8px;
  text-align: center;
  margin-bottom: 20px;
}

.sci-area-card--chess .sci-area-card__pic-area {
  float: right;
  shape-outside: circle(60%);
  width: 130px;
  height: 100px;
}

.sci-area-card--chess img {
  position: absolute;
  bottom: -44px;
  right: -66px;
  width: 300px;
  height: 200px;
}

.sci-area-card--english .sci-area-card__pic-area {
  float: right;
  shape-outside: circle(60%);
  width: 170px;
  height: 100px;
}

.sci-area-card--english img {
  position: absolute;
  bottom: -44px;
  right: 46px;
  width: 160px;
  height: 160px;
}

.sci-area-card--financy .sci-area-card__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 940px;
}
.sci-area-card--financy .sci-area-card__text img {
  margin-top: auto;
}

.sci-section-areas__row:last-child {
  margin-top: 24px;
}
.sci-section-areas__row:last-child .sci-area-card {
  width: calc((100% - 48px) / 3);
}
.sci-section-areas__row:last-child .sci-area-card:nth-child(2) {
  background: var(--card-color-main);
}
.sci-section-areas__row:last-child .sci-area-card:not(:nth-child(3n)) {
  margin-right: 24px;
}

.sci-area-card--financy .sci-area-card__pic-wrap {
  margin-top: 150px;
}

.sci-area-card--reading .sci-area-card__pic-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  position: relative;
  bottom: -90px;
}

/*sci-more-info-section*/
.sci-more-info-section {
  font-size: 36px;
  line-height: 46.8px;
  text-align: center;
}
.sci-more-info-section p {
  max-width: 880px;
  margin: 0 auto;
}
.sci-more-info-section p a {
  font-family: "Lato-Black";
  font-size: inherit;
  line-height: inherit;
  color: var(--text-color-main);
  display: inline;
  display: block;
  margin: 0 auto;
}

/*sci-video-section*/
.sci-video-section .theme-colored {
  padding: 50px 112px;
}

.sci-video-section__title {
  font-family: "Lato-Black";
  font-size: 44px;
  font-weight: 900;
  line-height: 57.2px;
  text-align: center;
}

.sci-video-section__inner {
  margin-top: 40px;
}

.video {
  gap: 24px;
}

.video-wrap {
  width: calc((100% - 24px) / 2);
  position: relative;
}
.video-wrap:before {
  content: "";
  display: block;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-image: url(../images/icons/play.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 53%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 1;
}
.video-wrap .videoBlock {
  height: 300px;
  padding: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 24px;
}

.active.video-wrap::before {
  display: none;
}

/*burger*/
.header_burger {
  display: none;
  width: 40px;
  height: 30px;
  position: relative;
}

.visible {
  display: none;
}

.visible-xs {
  display: none;
}

@media screen and (max-width: 1300px) {
  .btns-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .btns-wrap .btn {
    width: 298px !important;
  }

  .btns-wrap .btn:not(:first-child) {
    margin-left: 0;
    margin-top: 20px;
  }

  .visible {
    display: block;
  }

  .hidden {
    display: none !important;
  }

  .header_burger {
    display: block;
  }

  .burger_line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #dde9f8;
    position: absolute;
    left: 0;
  }

  .burger_line:first-child {
    top: 0;
  }

  .burger_line:nth-child(2) {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .burger_line:last-child {
    bottom: 0;
  }

  .profile-wrap {
    border-radius: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #dfecff;
    z-index: 10;
    padding: 60px 40px;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: 0.2s all linear;
    transition: 0.2s all linear;
    overflow-y: scroll;
  }

  .profile-wrap.active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .profile-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .profile-item {
    margin-right: 0 !important;
  }

  .profile-item {
    margin-top: 20px;
  }

  .mprofile-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header-close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 30px;
    right: 20px;
    z-index: 11;
    cursor: pointer;
  }

  .close-line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #2dbdcd;
    position: absolute;
    top: 50%;
  }

  .close-line:first-child {
    -webkit-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
  }

  .close-line:last-child {
    -webkit-transform: translateY(-50%) rotate(-45deg);
    transform: translateY(-50%) rotate(-45deg);
  }

  .dropdown,
  .dropdown__content {
    display: contents;
  }

  .dropdown__content {
    opacity: 1;
    visibility: visible;
  }

  .dropdown:after {
    display: none;
  }

  .profile {
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
  }

  .profile-wrap__inner {
    max-width: 90%;
  }

  .profile__name {
    text-align: center;
    width: 100%;
    font-size: 22px;
    line-height: 26px;
    color: #2dbdcd;
    margin-bottom: 20px;
  }

  .profile-list {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .btn-exit {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .profile__pic-wrap {
    margin-right: 12px;
    margin: 0 auto;
    text-align: center;
    max-width: 90px;
    width: 100%;
  }
  .profile__pic-wrap img {
    width: 100%;
  }

  .dropdown__content ul {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #2dbdcd;
    font-size: 22px;
    line-height: 26px;
  }

  .btn-exit,
  .profile-item--camp,
  .profile-item--promotion,
  .profile-list {
    width: 100%;
    text-align: center;
  }

  .btn-exit,
  .profile-item--camp,
  .profile-item--promotion {
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .btn-exit {
    margin-top: 40px;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    color: #2dbdcd;
    border: 2px solid #2dbdcd;
  }

  .btn-exit .btn-exit-x {
    top: 0;
    left: -8px;
  }

  .btn-exit .btn-exit-x::before,
  .btn-exit .btn-exit-x::after {
    content: "";
    background: #2dbdcd;
  }

  .profile-item--star::before,
  .profile-item--coin::before,
  .profile-item--paw::before,
  .profile-item--balance::before {
    width: 34px;
    height: 34px;
    background-size: 100% !important;
  }

  .sci-section-info__col {
    width: 100% !important;
    margin-left: 0 !important;
    min-height: 300px;
  }

  .sci-section-info__col:last-child {
    margin-top: 30px !important;
  }

  .sci-section-info__col:last-child {
    background-position: 70% 70% !important;
  }
}
@media screen and (max-width: 1000px) {
  .title {
    font-family: "Lato-Black";
    font-size: 40px;
    font-weight: 900;
    line-height: 46.6px;
  }

  .sci-section-areas__row:first-child {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .sci-section-areas__row:first-child .sci-area-card:last-child {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  .sci-area-card:nth-child(3) {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }

  .sci-section-top__title {
    font-size: 42px;
    line-height: 48px;
  }

  .sci-area-card .sci-area-card__title {
    font-size: 32px;
    line-height: 44px;
  }

  .sci-section-areas__row:last-child .sci-area-card {
    width: calc((100% - 24px) / 2);
  }

  .sci-section-areas__row:last-child .sci-area-card:not(:nth-child(3n)) {
    margin-right: unset;
  }

  .sci-section-areas__row:last-child .sci-area-card:not(:nth-child(2n)) {
    margin-right: 24px;
  }

  .sci-section-areas__row:last-child .sci-area-card:nth-child(n+3) {
    margin-top: 24px;
  }

  .sci-video-section .theme-colored {
    padding: 50px;
  }
}
@media screen and (max-width: 860px) {
  .btns-wrap .btn {
    width: 100% !important;
  }

  .btns-wrap .btn:not(:first-child) {
    margin-top: 12px;
  }

  .visible-xs {
    display: block;
  }

  .container {
    padding: 0 16px;
  }

  body {
    font-size: 16px;
    line-height: 21px;
  }

  .section {
    margin-top: 20px;
  }

  .col-100-xs {
    width: 100% !important;
    max-width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .sci-section-top__pic-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .sci-section-top__text-wrap {
    padding: 40px 20px 20px;
  }

  .sci-section-areas__row:first-child {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto, 1fr);
  }

  .sci-area-card:last-child {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .sci-area-card:nth-child(3) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .sci-area-card:last-child {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }

  .sci-section-top__inner {
    border-radius: 40px;
  }

  .sci-section-top__title {
    font-size: 32px;
    line-height: 38px;
  }

  .sci-section-top__text {
    font-size: 20px;
    line-height: 26px;
  }

  .sci-area-card .sci-area-card__title {
    font-size: 28px;
    line-height: 36px;
  }

  .sci-area-card .sci-area-card__title {
    margin-bottom: 20px;
  }

  .sci-area-card {
    border-radius: 34px;
    padding: 40px 20px;
  }

  .sci-section-areas__row:first-child,
  .sci-section-areas__row:last-child {
    gap: 14px;
  }

  .sci-section-areas__row:last-child {
    margin-top: 14px;
  }

  .sci-section-bottom__inner {
    padding: 40px 20px;
    font-size: 28px;
    line-height: 36px;
  }

  .section__inner.theme-base {
    border-radius: 25px;
    padding: 40px 20px;
  }

  .theme-colored {
    border-radius: 25px;
    padding: 40px 20px;
  }

  .theme-base {
    border-radius: 25px;
    padding: 40px 20px;
  }

  .sci-area-card--financy .sci-area-card__text {
    min-height: unset;
  }

  .sci-section-drawing__title {
    font-size: 28px;
    line-height: 36.4px;
  }

  .timer__text {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 12px;
  }

  .timer__item {
    font-size: 24px;
    line-height: 28.8px;
  }
  .timer__item::before {
    font-size: 14px;
    line-height: 16.8px;
  }

  .sci-section-drawing__col:last-child {
    bottom: -40px;
  }

  .sci-section-info__text {
    font-size: 24px;
    line-height: 31px;
  }

  .sci-section-info__areas {
    margin-top: 20px;
  }

  .sci-section-info__areas .col-50:last-child {
    padding-left: 0;
    width: 90% !important;
    margin: 16px auto 0 !important;
  }

  .sci-section-info__col:last-child {
    padding: 40px 20px;
    border-radius: 25px;
    margin-left: 0px;
    margin-top: 16px;
  }

  .sci-section-areas__row:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .sci-more-info-section {
    font-size: 28px;
    line-height: 36px;
  }

  .sci-video-section .theme-colored {
    padding: 40px 20px;
  }

  .sci-video-section__title {
    font-size: 32px;
    line-height: 41.6px;
  }

  .sci-video-section__inner {
    margin-top: 24px;
  }

  .video {
    gap: 12px;
  }

  .sci-section-info__areas .col-50:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .sci-area-card--reading .sci-area-card__pic-wrap {
    margin: -60px auto 0;
    max-width: 200px;
    bottom: -70px;
  }

  .sci-area-card--chess img {
    position: absolute;
    bottom: -22px;
    right: -37px;
    width: 194px;
    height: 122px;
  }

  .sci-area-card--financy .sci-area-card__pic-wrap {
    margin-top: 30px;
  }

  .sci-section-info__col {
    min-height: 570px;
  }

  .sci-section-info__text {
    max-width: 84%;
  }

  .sci-section-info__col:last-child img {
    position: absolute;
    bottom: 3px;
    right: 17px;
    width: 148px;
    height: 243px;
  }

  .sci-section-info__col:last-child {
    background: url(../images/bg-red-mb.png) center no-repeat;
    background-size: cover;
    margin-top: 30px;
  }
}
@media screen and (max-width: 640px) {
  .btn {
    width: 100% !important;
  }

  .sci-area-card--chess img,
  .sci-area-card--safety img,
  .sci-area-card--financy .sci-area-card__text img {
    width: 50%;
  }

  .sci-section-areas__row:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .profile-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .profile-item:first-child {
    margin-top: 0;
  }

  .profile-wrap__inner {
    max-width: 100%;
  }

  .sci-section-top__text span {
    background: linear-gradient(101.46deg, #ff8757 34.33%, #FF4858 98.85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
@media screen and (max-width: 500px) {
  .video-wrap:before {
    content: "";
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    width: 50px;
    height: 50px;
    top: 50%;
  }
  .video-wrap .videoBlock {
    border-radius: 12px;
    height: 160px;
  }

  .sci-area-card--financy .sci-area-card__text img {
    width: 80%;
  }

  .sci-area-card--english img {
    right: 46px;
    width: 130px;
    height: 140px;
  }

  .sci-area-card--english .sci-area-card__pic-area {
    width: 124px;
    height: 76px;
  }
}
